.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: green;
  }

  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .details-image-container {
    text-align: center;
  }
  
  .details img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
  }
  
  .details h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  